<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather App</title>
    <link rel="icon" href="{{url_for('static', filename='Image/weather icon.jpg')}}">

</head>

<body>
    <div class="container">
        <h1>Weather App</h1>
        <form method="POST">
            <input type="text" name="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>

        {% if weather %}
        <div class="weather-info">
            <h2>{{ weather.city }}</h2>
            <p>Temperature: {{ weather.temperature }}°C</p>
            <p>Description: {{ weather.description }}</p>
            <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Weather Icon">
        </div>
        {% elif error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>

</html>